# ========================
# R & Shiny Specific
# ========================
.Rproj.user
.Rhistory
.RData
.Ruserdata
rsconnect/

# ========================
# Python Specific
# ========================
venv/
my_python_env/
.ynow_venv
__pycache__/
*.pyc

# ========================
# OS Specific (macOS / Windows)
# ========================
.DS_Store
Thumbs.db

# ========================
# Project Temporary & Cache Files
# ========================
768d5e73109a453b83a1975ad686c59e/
*.tar.gz
.positai

.cursor/
*.pdf
*.tar.gz
